body {
  font-family: 'Hammersmith One', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, #c7e0f9 25.16%, #c7e0f9 37.63%, #c7e0f9 43.69%, #7fc8fd 52.07%); 
}
.page-container {
  max-width: 1512px; 
  min-height: 982px; 
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.site-header {
  background-color: #0a3960; 
  height: 119px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 67px;
  box-sizing: border-box;
}
.header-nav {
  display: flex;
  align-items: center;
}
.support-link-header {
  color: #ffffff; 
  font-family: 'Hammersmith One', sans-serif; 
  font-weight: 400; 
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  margin-right: 74px; 
  position: relative;
  z-index: 10;
  pointer-events: all;
}
.user-name {
  color: #ffffff; 
  font-family: 'Hammersmith One', sans-serif; 
  font-weight: 400; 
  font-size: 27px;
  line-height: 33.75px;
  margin-right: 16px;
}
.user-avatar {
  width: 80px;
  height: 80px; 
}


.main-layout {
  display: flex;
  flex-grow: 1;
  padding-top: 14px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 14px; 
  gap: 30px; 
  box-sizing: border-box;
}
.sidebar {
  width: 347px; 
  height: 832px; 
  background-color: rgba(65, 89, 100, 0.3); 
  border-radius: 30px; 
  padding-top: 58px; 
  padding-bottom: 56px; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-nav li a, .sidebar .sidebar-footer-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0a3960; 
}
.sidebar-nav li a {
  padding-left: 64px; 
}
.sidebar-nav li {
  margin-bottom: 42px; 
}
.sidebar-nav li:last-child {
  margin-bottom: 0;
}
.sidebar-item-icon {
  width: 28.75px; 
  height: 28.75px;
  margin-right: 16.25px; 
}
.sidebar-footer-icon { 
  width: 52px; 
  height: 48px; 
  margin-right: 0; 
}
.sidebar-item-text {
  font-family: 'Hammersmith One', sans-serif; 
  font-weight: 400; 
  font-size: 29px; 
  line-height: 36.25px; 
}
.sidebar-footer-item {
  margin-top: auto; 
}
.sidebar-footer-item a {
  padding-left: 50px;
}

.content-area {
  flex-grow: 1;
  padding-top: 21px; 
  box-sizing: border-box;
}
.content-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 289px;
}
.content-title-icon {
  width: 52px;
  height: 48px; 
  margin-right: 0; 
}
.content-title-text {
  color: #0a3960; 
  font-family: 'Hammersmith One', sans-serif; 
  font-weight: 400; 
  font-size: 36px;
  line-height: 45px; 
  margin: 0; 
}
.support-email-text {
  color: #576365;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 400; 
  font-size: 36px;
  line-height: 45px; 
  margin: 0; 
  margin-left: 262px;
}

.site-footer-main {
  text-align: center;
  padding: 30px 20px;
  background-color: #0a3960; 
  color: #ffffff;
}
.site-footer-main p {
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.5;
}
.site-footer-main a {
  color: #90d0ff;
  text-decoration: none;
}
.site-footer-main a:hover {
  text-decoration: underline;
}