<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Trispace&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Delete report</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/delete_report.css') }}">
</head>
<body>
  <section id="section-header">
    <div class="page-wrapper">
      <header class="site-header">
        <nav class="header-nav">
          <a href="{{ url_for('support') }}" class="header-nav-item">Support</a>
        </nav>
        <div class="user-info">
          <h2 style="color: #FFFFFF; font-size: 19px;">{{username}} </h2>
          <img src="{{ url_for('static', filename='images/Ellipse 2.svg') }}" alt="User Avatar" class="site-header__avatar">
        </div>
      </header>
    </div>
  </section>

  <section id="section-main" class="main-content-area-wrapper">
    <aside class="sidebar" style="height:500px">
      <a href="{{ url_for('home') }}" class="sidebar-nav-item">
            <img src="{{ url_for('static', filename='images/2043.png_860 (1) 12.png') }}" alt="Home icon" class="nav-icon">
            <span>Home</span>
          </a>
          <a href="{{ url_for('search') }}" class="sidebar-nav-item">
            <img src="{{ url_for('static', filename='images/2043.png_860 (1) 12.png') }}" alt="Search icon" class="nav-icon">
            <span>Search</span>
          </a>
          <a href="{{ url_for('support') }}" class="sidebar-nav-item">
            <img src="{{ url_for('static', filename='images/2043.png_860 (1) 12.png') }}" alt="Support icon" class="nav-icon">
            <span>Support</span>
          </a>
        </nav>

      <a href="{{ url_for('homescreen') }}" class="sidebar-footer-link">
          <img src="{{ url_for('static', filename='images/Screenshot 2025-06-07 034101 1.png') }}" alt="Information icon" class="nav-icon-large">
          <span>How It Helps</span>
        </a>
    </aside>

    <main class="content-panel">
      <div class="dialog-outer-container">
        <div class="dialog-inner-box">
          <p class="dialog-question">Do you really wish to delete your report?</p>

          <div class="dialog-buttons">
            <form method="POST" action="{{ url_for('delete_report', report_id=report_id) }}">
              <button type="submit" class="button button-yes">YES</button>
            </form>

            <form method="GET" action="{{ url_for('item_details', item_id=report_id) }}">
              <button type="submit" class="button button-no">NO</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </section>
</body>
</html>
